@media screen and (min-width: 500px){
    .gallery{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    #hamburger {
		display: none;
	}

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
        list-style: none;
    }

    nav a {
        padding: 0.5rem 1rem;
    }
}

